page-home {
  text-align: center;
.ion-navbar{
  height: 20px;
}
.ion-header{
  height: 20px;
}
ion-navbar.toolbar{
  height:20px;
}
.homebtn{
  padding: 1.7em;
}
.button-full{
  padding-top:1.4em;
  align-content: center;
  
}
}
