page-create-deck {
  .deckTitle{
    font-family: $font1;
    font-size:1.5em;
    position: center;
  }
  .block{
    position:relative;
    .deleteIcon{
      position: absolute !important;
      margin-left: 85% !important;
      margin-top: 5px !important;
      color:white !important;
    }
    .deleteIcon:before{
      font-family: $font1;
      font-size: 30px !important;
    }
  }
  text-align: center;
  .add_title_btn{
    outline-color:map-get($colors,primary);
  }
  h3{
    color:map-get($colors,primary);
  }
 .text {
   font-family: $font1;
    color: map-get($colors,primary);;
  }
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    font-family: $font1;
    width: 100%;
    font-weight: bold;
    color: black;
  }

  .card-subtitle {
    font-size: 1.0em;
    font-family: $font1;
    position: absolute;
    top: 52%;
    width: 100%;
    color: map-get($colors,primary);
  }
  .add_title_btn{
    font-family: $font1;
    font-family: 'Lily Script One';
  }
  .deckTitle{
    align-content: center;
    font-family: $font1;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

}

