page-card {
  .block{
    position:relative;
    .deleteIcon{
      position: absolute !important;
      margin-left: 85% !important;
      margin-top: 5px !important;
      color:white !important;
    }
    .deleteIcon:before{
      font-size: 30px !important;
    }
  }

  .text {
    font-size:1.3em;
    color:map-get($colors, primary);
  }
   .textm {
    color:map-get($colors, try-this-one-on);
  }
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
 .picture{
  height:100%;
  align-content: center;
}
}

