page-about-us {
body{

// background-image:url(http://www.iexpats.com/wp-content/uploads/2016/06/foreign-flags.jpg);
}
.login-content{
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
 .description-block {
    position: absolute;
    top: 10%;
    justify-content: center;
    font-size: 1.7em;
    width: 100%;
    font-weight: bold;
    font-family: 'RalewayB';
    color: map-get($colors, try-this-one-on);
    padding-left: 15px;
  padding-right: 15px;
  }
h4 {
  font-family: 'RalewayM';
  padding-left: 15px;
  padding-right: 15px;
  color:map-get($colors, primary);
}
  ion-slide{
    border-bottom-color: black;
    background-color:map-get($colors, amsterdam-white);
    // background-image:url(http://www.iexpats.com/wp-content/uploads/2016/06/foreign-flags.jpg);
  }
  .images{
    height: 220px;
  }

  .images1{
    height: 200px;
  }
  .images2{
    height:200px;
  }
   .images3{
    height:200px;
  }
   .images4{
    height:220px;
  }
.home-button{
  height: 30px;
  width: 90%;
  margin:5%;
  margin-top: none;
  justify-content:center;
  // background: -webkit-linear-gradient(bottom, skyblue, skyblue, white, white,white,  white); 
  border-block-start-style: none;
}
  .description-footer{
    position: absolute;
    top: 75%;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    // color: darkblue !important;
  }
  .intro{
    top:35%;
    font-family: arial;
    font-style: normal;
  }
}
